.coca-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    color: #253858;
}

.coca-container ul {
    margin: 0;
    padding: 0;
}

.coca-container ul li {
    display: flex;
    list-style-type: none;
}



.coca-container ul li svg {
    width: 50px;
}

.coca-container ul li .text-control {
    font-weight: 500;
    margin-left: -20px;
    min-height: 15px;
    padding-left: 32px;
    text-align: justify;
    /* position: relative; */
    /* line-break: strict; */
}

/* img section */
.coca-container img {
    padding: 0 50px 50px 50px;
    width: 100%;
}

/* Responsivnas */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .coca-container {
        grid-template-columns: 12fr;

    }

    .coca-container img {
        padding: 0;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .coca-container {
        grid-template-columns: 12fr;

    }

    .coca-container img {
        padding: 0;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {
        background: blue;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {
        background: orange;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .coca-container {
        grid-template-columns: 4fr 8fr;

    }

    .coca-container img {
        padding: 0 50px 50px 50px;
        width: 100%;
    }
}